
<div class='box'>
	<div class='row'>

		<div  class="col-md-4 col-sm-4">
			<h3> アーティスト登録</h3>
			<div class="box2">
				<% if @artist.errors.any? %>
				<div id="error_explanation" class="alert alert-danger">
					<h2  class="alert_h2"><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
					<ul>
						<% @artist.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
				<% end %>
				<%= form_for(@artist) do |f| %>
				<h4> アーティスト名</h4>
				<%= f.text_field :artist_name, placeholder:"アーティスト名", class:"artist_data" %>
				<h4> アーティスト説明文</h4>
				<%= f.text_area :artist_contents, placeholder:"アーティスト説明文", class:"artist_data" %>
				<h4> アーティスト写真</h4>
				<%= f.attachment_field :artist_image, placeholder:"アーティスト画像", class:"artist_data" %>
				<%= f.submit class:"btn btn-primary artist_data" %>
				<% end %>
			</div>
		</div>

		<div  class="col-md-8 col-sm-8">
			<h1> アーティスト一覧</h1>
			<div  class="artist_over_2">
			<table  class="table-hover table">
				<thead>
					<tr>
						<th>並び替え▼</th>
						<th>○○順</th>
					</tr>
				</thead>
				<tbody>
					<% @artists.each do |artist| %>
					<tr>
						<td><%= link_to artist_path(artist.id) do %><%= attachment_image_tag artist, :artist_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
						<td><%= link_to artist_path(artist.id) do %><%= artist.artist_name %><% end %></td>
						<td><%= artist.artist_contents %></td>
						<td><%= link_to edit_artist_path(artist.id) do %><button class="btn btn-default btn-success">編集</button><% end %></td>
						<td><%= link_to artist_path(artist.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="btn btn-default btn-danger">削除</button><% end %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
