
<div  class="container">
	<div  class="row">
		<h1  class="artist_edit_headline">アーティスト情報変更</h1>
		<div  class="box2">
			<% if @artist.errors.any? %>
				<div id="error_explanation" class="alert alert-danger">
					<h2  class="alert_h2"><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
					<ul>
						<% @artist.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<%= attachment_image_tag @artist, :artist_image, :fill, 200, 200, format: 'jpeg' %>
			<%= form_for(@artist) do |f| %>
			<h4> アーティスト名</h4>
			<%= f.text_field :artist_name, autofocus:true, placeholder:"アーティスト名", class:"data" %>
			<h4> アーティスト説明文</h4>
			<%= f.text_area :artist_contents, autofocus:true, placeholder:"アーティスト説明文", class:"data" %>
			<h4> アーティスト写真</h4>
			<%= f.attachment_field :artist_image, class:"data" %>
			<%= f.select :genre_id,Genre.all.collect { |p| [ p.genre_name, p.id ] }, {include_blank: true}, {class: 'data'} %>
			<%= f.select :label_id,Label.all.collect { |p| [ p.label_name, p.id ] }, {include_blank: true}, {class: 'data'} %>
			<%= f.submit class:"btn btn-primary data" %>
			<% end %>
		</div>
	</div>
</div>
