
<div class='box'>
	<div class='row'>
	  <strong><div class="search-results"><%= notice %></div></strong>
		<div  class="col-md-8 col-sm-8">
			<h1> アーティスト一覧</h1>

				<div  class="artist_over_1">
                  <form>
				    <table  class="table-hover table artist_directory">
					<tbody>
						<%= @submits_searched %>
						<% @artists.each do |artist| %>
						<tr>
							<td>
								<%= link_to artist_path(artist.id) do %><%= attachment_image_tag artist, :artist_image, :fill, 100, 100, format: "jpg" %><% end %>
							</td>
							<td>
								<%= link_to artist_path(artist.id) do %><%= artist.artist_name %><% end %>
							</td>
							<td>
								<% @genres.each do |genre| %>
								<% if artist.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %>
							</td>
							<td>
								<% @labels.each do |label| %>
								<% if artist.label_id == label.id %><%= label.label_name %><% end %><% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			  </form>
		    </div>
		</div>
		<div class='col-md-4 col-sm-4'>
			<h3> アーティストCD総合<br>いいねランキング</h3>
			<table  class="table-hover table">
				<tbody>
					<% @rank_artist.each do |rank_artist| %>
					<tr>
						<td>１</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td><%= rank.artist_name %></td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>111</td>
						<td><% @genres.each do |genre| %><% if rank_artist.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %></td>
						<td><% @labels.each do |label| %><% if rank_artist.label_id == label.id %><%= label.label_name %><% end %><% end %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>