
<div class='box'>
	<div class='row'>
	  <strong><div class="search-results"><%= notice %></div></strong>
		<div  class="col-md-8 col-sm-8">
			<h1> アーティスト一覧</h1>

				<div  class="over_1">
				    <table  class="table-hover table directory">
					<tbody>
						<thead>
							<tr>
							<th></th>
							<th>アーティスト名</th>
							<th>ジャンル</th>
							<th>レーベル</th>
							</tr>
						</thead>
						<%= @submits_searched %>
						<% @artists.each do |artist| %>
						<tr>
							<td>
								<%= link_to artist_path(artist.id) do %><%= attachment_image_tag artist, :artist_image, :fill, 100, 100, format: "jpg" %><% end %>
							</td>
							<td>
								<%= link_to artist_path(artist.id) do %><%= artist.artist_name %><% end %>
							</td>
							<td>
								<% @genres.each do |genre| %>
								<% if artist.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %>
							</td>
							<td>
								<% @labels.each do |label| %>
								<% if artist.label_id == label.id %><%= label.label_name %><% end %><% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
		    </div>
		</div>
		<div class='col-md-4 col-sm-4'>
			<h3> CDいいねランキング</h3>
			<div  class="over_3">
				<table  class="table-hover table">
					<tbody>
						<% @rank.each.with_index(1) do |rank, i| %>
						<tr>
							<td><%= "#{i}位" %></td>
							<td><%= link_to item_path(rank.id) do %><%= attachment_image_tag rank, :item_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
							<td><%= rank.item_name %></td>
							<td><% @artists.each do |artist| %><% if rank.artist_id == artist.id %><%= artist. artist_name %><% end %><% end %></td>
							<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><%= rank.likes.count %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>