
<div class='box'>
	<div class='row'>
	  <strong><div class="search-results"><%= notice %></div></strong>
		<div  class="col-md-8 col-sm-8">
			<h1> アーティスト一覧</h1>

				<div  class="artist_over_1">
				    <table  class="table-hover table artist_directory">
					<tbody>
						<thead>
							<tr>
							<th></th>
							<th>アーティスト名</th>
							<th>ジャンル</th>
							<th>レーベル</th>
							</tr>
						</thead>
						<%= @submits_searched %>
						<% @artists.each do |artist| %>
						<tr>
							<td>
								<%= link_to artist_path(artist.id) do %><%= attachment_image_tag artist, :artist_image, :fill, 100, 100, format: "jpg" %><% end %>
							</td>
							<td>
								<%= link_to artist_path(artist.id) do %><%= artist.artist_name %><% end %>
							</td>
							<td>
								<% @genres.each do |genre| %>
								<% if artist.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %>
							</td>
							<td>
								<% @labels.each do |label| %>
								<% if artist.label_id == label.id %><%= label.label_name %><% end %><% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
		    </div>


		    <% @artists.each.with_index(1) do |artist,i| %>
		    <button type="button" class="btn btn-default btn-block">
		    	<div class="accordion-group">
		    		<div class="accordion-heading">
		    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq" href="#faqpost_<%= "#{i}" %>">アーティスト</a>
		    		</div>
		    		<div id="faqpost_<%= "#{i}" %>" class="accordion-body collapse">
		    			<div class="accordion-inner">
		    				<%= link_to artist_path(artist.id) do %><%= attachment_image_tag artist, :artist_image, :fill, 100, 100, format: "jpg" %><% end %>
		    				<%= link_to artist_path(artist.id) do %><%= artist.artist_name %><% end %>
		    				<% @genres.each do |genre| %>
		    				<% if artist.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %>
		    				<% @labels.each do |label| %>
		    				<% if artist.label_id == label.id %><%= label.label_name %><% end %><% end %>
		    			</div>
		    		</div>
		    	</div>
		    </button>
		    <% end %>


		</div>
		<div class='col-md-4 col-sm-4'>
			<h3> CDいいねランキング</h3>
			<div  class="artist_over_3">
				<table  class="table-hover table">
					<tbody>
						<% @rank.each.with_index(1) do |rank, i| %>
						<tr>
							<td><%= "#{i}位" %></td>
							<td><%= link_to item_path(rank.id) do %><%= attachment_image_tag rank, :item_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
							<td><%= rank.item_name %></td>
							<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><%= rank.likes.count %></td>
							<td><% @genres.each do |genre| %><% if rank.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %></td>
							<td><% @labels.each do |label| %><% if rank.label_id == label.id %><%= label.label_name %><% end %><% end %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>