
<div class='box'>
	<div class='row'>
		<div  class="col-md-8 col-sm-8">
			<h1> アーティスト一覧</h1>
				<div  class="artist_over_1">
				<table  class="table-hover table artist_directory">
					<thead>
						<tr>
							<th><%= form_tag(artists_path, method: "get") do %>
								<%= label_tag :"ジャンル" %>
								<%= select_tag :genre_id, options_for_select(Artist.genres), include_blank: true %>
							</th>
							<th>
								<%= label_tag :"レーベル" %>
								<%= select_tag :label_id, options_for_select(Artist.labels), include_blank: true %>
							</th>
							<th>
								<%= submit_tag "絞り込み" %>
								<% end %>
							</th>
						</tr>
					</thead>
					<tbody>
						<%= @submits_searched %>
						<% @artists.each do |artist| %>
						<tr>
							<td>
								<%= link_to artist_path(artist.id) do %><%= attachment_image_tag artist, :artist_image, :fill, 100, 100, format: "jpg" %><% end %>
							</td>
							<td>
								<%= link_to artist_path(artist.id) do %><%= artist.artist_name %><% end %>
							</td>
							<td>
								<% @genres.each do |genre| %>
								<% if artist.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %>
							</td>
							<td>
								<% @labels.each do |label| %>
								<% if artist.label_id == label.id %><%= label.label_name %><% end %><% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				</div>
		</div>
		<div class='col-md-4 col-sm-4'>
			<h3> アーティストCD総合<br>いいねランキング</h3>
			<table  class="table-hover table">
				<tbody>
					<tr>
						<td>１</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>111</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
					<tr>
						<td>２</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>99</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
					<tr>
						<td>３</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>88</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>