
<!-- <div class='container'> -->
	<dic class
	<div class='row'>
		<div  class="col-md-8 col-sm-8">
			<h1> アーティスト一覧</h1>
			<table  class="table-hover table">
				<thead>
					<tr>
						<th>並び替え▼</th>
						<th>○○順</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= image_tag('no_image100x100.jpg') %></td>
						<td>アーティスト名</td>
						<td>ジャンル</td>
					</tr>
					<tr>
						<td><%= image_tag('no_image100x100.jpg') %></td>
						<td>アーティスト名</td>
						<td>ジャンル</td>
					</tr>
					<tr>
						<td><%= image_tag('no_image100x100.jpg') %></td>
						<td>アーティスト名</td>
						<td>ジャンル</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='col-md-4 col-sm-4'>
			<h3> アーティストCD総合<br>いいねランキング</h3>
			<table  class="table-hover table">
				<tbody>
					<tr>
						<td>１</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>111</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
					<tr>
						<td>２</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>99</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
					<tr>
						<td>３</td>
						<td><%= image_tag('no_image50x50.jpg') %></td>
						<td>アーティスト名</td>
						<td><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>88</td>
						<td>ジャンル</td>
						<td>レーベル</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<!-- </div> -->