
<div class='box'>
	<div class='row'>
		<div  class="col-md-8 col-sm-8">
			<% if flash[:notice] %>
			<p class="notice"><%= flash[:notice] %></p>
			<% end %>
				<h1> <%= @artist.artist_name %></h1>
				<div  class="clearfix">
					<div class="artist_profile_box  clearfix">
						<span  class="artist_tag">
							<% unless @artist.genre_id == nil %><%= @artist.genre.genre_name %><% end %>
							<!-- unlessでnilだった場合を記述しておかないとnilの場合にgenre_idがないよと怒られます。 -->
						</span>
						<span  class="artist_tag">
							<% unless @artist.label_id == nil %><%= @artist.label.label_name %><% end %>
						</span>
						<%= attachment_image_tag @artist, :artist_image, :fill, 250, 250, format: 'jpeg', class: "artist_show_image" %>
						<h3  class="artist_profile">・プロフィール</h3>
						<div  class="artist_contents_box">
							<% if @artist.artist_contents.blank? %>
							<!-- artist_contentsの中身が空っぽの時 -->
							<h3  class="artist_item_nil">このアーティストの情報は現在編集中です。</h3>
							<% else %>
							<p  class="artist_contents"><%= @artist.artist_contents %></p>
							<% end %>
						</div>
						<% if admin_signed_in? %>
						<%= link_to edit_artist_path(@artist.id) do %>
						<button class="btn btn-default btn-success artist_button">このアーティストを編集する</button>
						<% end %>
						<%= link_to artist_path(@artist.id), method: :delete,"data-confirm" => "本当に削除しますか？" do %>
						<button class="btn btn-default btn-danger artist_button">このアーティストを削除する</button>
						<% end %>
						<% end %>
						<!-- ユーザーがログインしているか -->
						<% if user_signed_in? %>
						<!-- ユーザーの持っているアーティストIDとアーティストIDと同じ時 -->
						<% if current_user.artist_id == @artist.id %>
						<%= link_to user_favorite_path(@artist.id), method: :patch, "data-confirm" => "本当に解除しますか？" do %>
						<button type="button" class="btn btn-danger btn-sm favorite_button">このアーティストのお気に入りを解除する</button>
						<% end %>
						<!-- ユーザーがアーティストIDを持っていない時 -->
						<% elsif current_user.artist_id == nil %>
						<%= link_to user_favorite_path(@artist.id), method: :patch do %>
						<button type="button" class="btn btn-primary btn-sm favorite_button">このアーティストをお気に入り登録する</button>
						<% end %>
						<!-- ユーザーがアーティストIDを持っているが登録したいアーティストIDと違う時 -->
						<% else %>
						<%= link_to user_favorite_path(@artist.id), method: :patch, "data-confirm" => "お気に入りは１つのみ登録できます。このアーティストに変更しますか？" do %>
						<button type="button" class="btn btn-primary btn-sm favorite_button">このアーティストをお気に入り登録する</button>
						<% end %>
						<% end %>
						<% end %>
					</div>
				</div>
				<h2> <%= @artist.artist_name %>のCD一覧</h2>
			<div  class="artist_item_box clearfix">
				<% if @items.count == 0 %>
				<!-- アーティストの持っているアイテムの数量が０の時 -->
				<h3  class="artist_item_nil">このアーティストのCDは現在お取り扱いしておりません。</h3>
				<% else %>
				<% @items.each do |item| %>
				<div class="item-box directory">
					<dl>
						<dt><%= link_to item_path(item.id) do %><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg' %><% end %></dt>
						<dd><h4><%= link_to item.item_name, item_path(item) %></h4></dd>
						<dd><%= @artist.artist_name %></dd>
						<dd><%= item.genre.genre_name %></dd>
						<dd><%= item.label.label_name %></dd>
						<dd>価格：￥<%= number_with_delimiter(item.price) %></dd>
					</dl>
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
		<div class='col-md-4 col-sm-4'>
			<h3>CD総合いいねランキング</h3>
			<div  class="over_3">
				<table  class="table-hover table">
					<tbody>
						<% @rank.each.with_index(1) do |rank, i| %>
						<tr>
							<td><%= "#{i}位" %></td>
							<td><%= link_to item_path(rank.id) do %><%= attachment_image_tag rank, :item_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
							<td><%= link_to "#{rank.item_name}", item_path(rank) %><br>価格：￥<%= number_with_delimiter(rank.price) %></td>
							<td><%= link_to "#{rank.artist.artist_name}", artist_path(rank.artist) %></td>
							<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><%= rank.likes.count %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
