<div class='box'>
  <div class='row'>
    <div  class="col-md-4 col-sm-4">
      <h3> <%= @item.item_name %></h3>
      <div class="box2">
      <% if @disk.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @disk.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for [@item, @disk], url: item_disks_path do |f| %>
      <h4>No.<%= f.number_field :disk_number, min:0, class:"data" %></h4>
      <%= f.submit 'ディスクを追加する', class:"data" %>
      <% end %>
      <!-- <a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a> -->
      </div>
    </div>
      <div  class="col-md-8 col-sm-8">
        <h3> ディスク</h3>
        <div  class="over_2">
        <table  class="table-hover table">
          <tbody>
            <% @disks.each do |disk| %>
            <tr>
              <td><%= link_to "ディスク［#{disk.disk_number}］", item_disk_songs_path(@item, disk) %></td>
              <td><%= link_to item_disk_path(@item,disk), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button clabtn   btn-default    btn-danger">削除</button><% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



