<body>
  <div class="container">
    <div class="row">
      <div class="col-md-5" style="">
      <% if @disk.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @disk.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= @item.item_name %><br>
      <%= form_for [@item, @disk], url: item_disks_path do |f| %>
      No.<%= f.number_field :disk_number %><br>
      <%= f.submit 'ディスクを追加する' %>
      <% end %><br>
      </div>
      <div class="col-md-7" style="">
        <table  class="table-hover table">
          <thead>
            <tr>
              <!-- <th>ディスクID</th> -->
              <th>ディスク</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @disks.each do |disk| %>
            <tr>
              <td><%= link_to "ディスク［#{disk.disk_number}］", item_disk_songs_path(@item, disk) %></td>
              <td><%= link_to item_disk_path(@item,disk), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button clabtn   btn-default    btn-danger">削除</button><% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>


