<div class="users_signup">

<h4><strong> 登録情報変更 </strong></h4>

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>
<%= form_for(@user) do |f| %>

  <div class="field">
    <p> 名前（漢字） </p>
    <span> 姓 </span>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "姓" %>
    <span> 名 </span>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "名" %>
  </div>

  <div class="field">
    <p> 名前フリガナ（全角カナ） </p>
    <span> セイ </span>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "セイ" %>
    <span> メイ </span>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "メイ" %>
  </div>

  <div class="field">
    <p> 電話番号（半角・ハイフン無し） </p>
    <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  <div class="field">
    <p> メールアドレス </p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div> パスワード（半角英数字6桁以上） </div>
    <%# if @minimum_password_length %>
<!--     <em>(<%#= @minimum_password_length %> characters minimum)</em> -->
    <%# end %><!-- <br /> -->
    <%= f.text_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <p> パスワード確認 </p>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <input type="submit" class="bg-danger" value="上記の内容で変更する" data-disable-with="上記の内容で変更する">
  </div>

  

<% end %>

<div class="actions">
  <%#= link_to "住所変更及び新しい住所を登録する", user_address_path(current_user, @address) %>
  <%= link_to "住所変更及び新しい住所を登録する", user_address_path(current_user, current_user.addresses.first), class: 'btn btn-primary' %>
    <input type="submit" class="bg-danger" value="住所変更及び新しい住所を登録する" data-disable-with="住所変更及び新しい住所を登録する">
  </div>

<%#= render "users/shared/links" %>

</div>