<div class="box">
  <div class="message"></div>
  <p class="update"><%= notice %></p><p class="alert"><%= alert %></p>
    <div class="users_show_upper clearfix" >
      <div class="users_show_left">
        <h4 class="users_names"> <strong> ユーザー名 </strong> </h4>
        <div> <%= @user.last_name %> <%= @user.first_name %> さん </div>
        <div> <%= link_to "編集", edit_user_path(@user.id), class: 'btn btn-success' %> </div>
        <div> <%= link_to "退会", user_path, class: 'btn btn-danger', method: :'delete', "data-confirm" => "本当に退会しますか？" %> </div>
      </div>
    <div class="users_show_right">
      <h4 class="favorite_artists"> <strong> お気に入りアーティスト </strong> </h4>
      <% if @user.artist_id.nil? %>
        <p> お気に入りアーティストは未登録です </p>
      <% end %>
      <% unless @user.artist_id.nil? %>
        <div>
          <% if @user.artist_id == @user.artist.id %> <%= @user.artist.artist_name %>
          <% end %>
        </div>
        <div> <%= attachment_image_tag @user.artist, :artist_image, :fill, 100, 100, format: "jpg" %> </div>
        <span>
          <strong> 最新のCD： </strong>
        </span>
            <span>
              <% @item.each do |item| %> <%= item.item_name %>
              <% end %>
            </span>
            <div>
              <span>ジャンル：</span>
              <% @genre.each do |genre| %> <%= genre.genre_name %>
              <% end %>
            </div>
            <%# if @user.item_id == genre.id %> <%#= genre.genre_name %>
            <div>
              <span>価格：￥</span>
              <% @item.each do |item| %> <%= item.price %>
              <% end %>
            </div>
            <div>
              <% @item.each do |item| %>
              <%= attachment_image_tag item, :item_image, :fill, 100, 100, format: "jpg" %>
              <% end %>
            </div>
      <% end %>
    </div>
    <div class="users_show_right_right">
        <h4 class="favorite_ranking"> <strong> いいねランキング </strong> </h4>
          <table  class="table-hover table">
            <tbody>
              <% @rank.each.with_index(1) do |rank, i| %>
                <tr>
                  <td>
                    <%= "#{i}位" %>
                    </td>
                    <td><%= link_to item_path(rank.id) do %>
                      <%= attachment_image_tag rank, :item_image, :fill, 50, 50, format: 'jpeg' %>
                      <% end %>
                    </td>
                     <td>
                      <span> <%= rank.item_name %> </span>
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                      <%= rank.likes.count %>
                    </td>
                    <td>
                      <%= form_for (@cart_item), url: carts_add_item_path(rank.id) do |f| %>
                      <span>数量</span><%= f.number_field :units ,min:0 %><br>
                    </td>
                    <td>
                      <%= f.submit 'カートに入れる' %>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>

      <div class="users_show_bottom">
        <div class="container">
          <div class="row">
            <div class="">
              <h4 class="purchase_histories">  <strong> 購入履歴 </strong> </h4>
            </div>
          </div>
        </div>
        <%# @purchases.each do |purchase| %>
          <section>
            <!--   <div class="panel-group" id="accordion">
            <div class="panel panel-default">
            <div class="panel-heading">
            <h4 class="panel-title accordion-toggle"> -->
            <!-- <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%#= purchase.purchased_date.strftime('%Y/%m/%d') %></a> -->
            <!-- </div> -->
            <!-- <div id='collapse' class="panel-collapse collapse in">
            <div class="panel-body"> -->
            <%# purchase.purchase_datails.each do |datail| %>
              <!-- <p></p>
              <span>商品名</span>：<span><%#= datail.item.item_name %></span>
              <span>商品写真</span>：<span><%#= attachment_image_tag datail.item, :item_image, :fill, 50, 50, format: 'jpeg' %></span>
              <span>購入時の単価</span>：<span><%#= datail.price %></span>
              <span>数量</span>：<span><%#= datail.quantity %></span>
              <span>小計</span>：<span><%#= datail.price * datail.quantity %></span> -->
            <%# end %>
            <!--</div>
            </div>
            </div>
            </div>-->
          </section>
      </div>
        <%# end %>
        <% n = 1 %>
        <% @purchases.each do |purchase| %>
        <div class="panel-group" id='sampleAccordion<%= n %>'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" data-parent='#sampleAccordion<%= n %>' href='#sampleAccordionCollapse<%= n %>'>
                  ▼<%= purchase.purchased_date.strftime('%Y/%m/%d') %>
                </a>
              </h3>
            </div>
            <div id='sampleAccordionCollapse<%= n %>' class="panel-collapse collapse">
              <% purchase.purchase_datails.each do |datail| %>
              <div class="panel-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-2" style="">
                      <%= attachment_image_tag datail.item, :item_image, :fill, 50, 50, format: 'jpeg' %>
                    </div>
                    <div class="col-md-2" style="">
                       アーティスト名：<%= link_to datail.item.artist.artist_name, artist_path(@artist) %> <%#= datail.item.artist.artist_name %><br>
                       商品名：<%= datail.item.item_name %>
                    </div>
                    <div class="col-md-2" style="">
                       単価：<%= datail.price %>円<br>
                       数量：<%= datail.quantity %>
                    </div>
                    <div class="col-md-3" style="">
                      <p>レビュー<%#= @item.reviews.count %>件<br>
                        <% @item.each do |item| %>
                      <% datail.item.reviews.each do |review| %>
                      <% if review.item.id == item.id %>
                      <!-- コメント -->
                        <%= review.comment %><br>
                        <!-- 日付 -->
                        <%= review.created_at.strftime('%Y/%m/%d') %>
                        <!-- 名前 -->
                        <%#= review.user.first_name %>
                        <%# if review.user == current_user %>
                          <%= link_to item_review_path(@item,review), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="">削除</button><br><% end %>
                        <% end %></p>
                        <% end %>
                        <% end %>
                      <%# end %>

                      <%= form_for [datail.item, @review] do |f| %>
                        <%= f.text_area :comment, rows:'5', class: "",placeholder: "レビューを入力（購入者のみ表示）" %>
                        <%= f.submit "送信する", class: "" %>
                      <% end %>

                    </div>
                    <div class="col-md-3" style="">
                       小計：<%= datail.quantity * datail.price %>円
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <div class="container">
                <div class="row">
                  <div class="col-md-9" style=""></div>
                  <div class="col-md-3" style="">
                    <div class="border">
                      合計：<%= purchase.total_price %>円(税込)
                      配送状況：
                      <% if purchase.status == 0 %>受付
                      <% elsif purchase.status == 1 %>商品準備中
                      <% else purchase.status == 2 %>出荷済
                      <% end %>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% n += 1%>
      <% end %>
  </div>
</div>
