<!DOCTYPE html>
<html>
  <head>
    <title>NILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="message"> <%= flash[:notice] %> </div>

<div class="users_show_upper clearfix" >
<div class="users_show_left">
  <div class="users_names"> ユーザー名 </div>
  <div> <%#= current_user.last_name %> <%#= current_user.first_name %> </div>
  <div> <%= link_to "編集", edit_user_path, class: 'btn btn-default' %> </div>
  <div> <%= link_to "退会", root_path, class: 'btn btn-default', method: :'delete', "data-confirm" => "本当に退会しますか？" %> </div>
</div>

<div class="users_show_right">
<div class="favorite_artists"> お気に入りアーティスト </div>
<div> アーティスト名 </div>
<div> 最新のCD </div>
<div class="favorite_ranking"> いいねランキング </div>
</div>
</div>

<div class="users_show_bottom">
<div class="purchase_histories"> 購入履歴 </div>
<div>　月　日購入▼</div>
</div>

  </body>

  </html>