<div class="box">
  <!-- <div class="message"></div> -->
  <p class="update"><%= notice %></p><p class="alert"><%= alert %></p>
  <div class="users_show_upper clearfix" >
    <div class="users_show_left">
      <h4 class="users_names"> <strong> ユーザー名 </strong> </h4>
      <div> <%= @user.last_name %> <%= @user.first_name %> さん </div>
      <div> <%= link_to "編集", edit_user_path(@user.id), class: 'btn btn-success btn-user-show' %> </div>
      <div> <%= link_to "登録住所を確認する", user_address_path(@user.id), class: 'btn btn-info btn-user-show' %> </div>
      <div> <%= link_to "退会", user_path, class: 'btn btn-danger btn-user-show', method: :'delete', "data-confirm" => "本当に退会しますか？" %> </div>
    </div>
    <div class="users_show_right">
      <h4 class="favorite_artists"> <strong> お気に入りアーティスト </strong> </h4>
      <% if @user.artist_id.nil? %>
        <p> お気に入りアーティストは未登録です </p>
      <% end %>
      <% unless @user.artist_id.nil? %>
      <div>
        <% if @user.artist_id == @user.artist.id %> <%=link_to "#{@user.artist.artist_name}", artist_path(@user.artist) %>
        <% end %>
      </div>
      <div> <%= link_to artist_path(@user.artist) do %><%= attachment_image_tag @user.artist, :artist_image, :fill, 150, 150, format: "jpg" %><% end %> </div>
        <span>
          <strong> 最新のCD： </strong>
        </span>
        <span>
          <% @item.each do |item| %> <%= link_to "#{item.item_name}", item_path(item) %>
          <% end %>
        </span>
        <div>
          <span>ジャンル：</span>
          <% @genre.each do |genre| %> <%= genre.genre_name %>
          <% end %>
        </div>
        <%# if @user.item_id == genre.id %> <%#= genre.genre_name %>
        <div>
          <span>価格：￥</span>
          <% @item.each do |item| %> <%= item.price %>
          <% end %>
        </div>
        <div>
          <% @item.each do |item| %>
          <%= attachment_image_tag item, :item_image, :fill, 150, 150, format: "jpg" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="users_show_right_right">
      <h4 class="favorite_ranking"> <strong> いいねランキング </strong> </h4>
      <table  class="table-hover table">
        <tbody>
          <% @rank.each.with_index(1) do |rank, i| %>
          <tr>
            <td><%= "#{i}位" %></td>
            <td><%= link_to item_path(rank.id) do %><%= attachment_image_tag rank, :item_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
            <td><span> <%= link_to "#{rank.item_name}", item_path(rank) %> </span></td>
            <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><%= rank.likes.count %></td>
            <td><%= form_for (@cart_item), url: carts_add_item_path(rank.id) do |f| %><span>数量</span><%= f.number_field :units ,min:0 %></td>
            <td><%= f.submit 'カートに入れる' %><% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @purchases.exists? %>
    <div class="users_show_bottom">
      <div class="container">
        <div class="row">
          <div class="">
            <h4 class="purchase_histories">  <strong> 購入履歴 </strong> </h4>
          </div>
        </div>
      </div>
    </div>
      <% n = 1 %>
      <% @purchases.each do |purchase| %>
    <div class="panel-group" id='sampleAccordion<%= n %>'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent='#sampleAccordion<%= n %>' href='#sampleAccordionCollapse<%= n %>'>
              ▼<%= purchase.purchased_date.strftime('%Y/%m/%d') %>
            </a>
          </h3>
        </div>
        <div id='sampleAccordionCollapse<%= n %>' class="panel-collapse collapse">
          <% purchase.purchase_datails.each do |datail| %>
          <div class="panel-body">
            <div class="container">
              <div class="row">
                <div class="col-md-2" style="">
                  <%= attachment_image_tag datail.item, :item_image, :fill, 50, 50, format: 'jpeg' %>
                </div>
                <div class="col-md-2" style="">
                  アーティスト名：<%= link_to datail.item.artist.artist_name, artist_path(datail.item.artist.id) %><br>
                  商品名：<%= link_to datail.item.item_name, item_path(datail.item) %>
                </div>
                <div class="col-md-2" style="">
                  単価：<%= datail.price %>円<br>
                  数量：<%= datail.quantity %>
                </div>
                <div class="col-md-3" style="">
                  <% user_comment = 0 %>
                  <% datail.item.reviews.each do |review| %>
                    <% if review.user_id == @user.id %><% user_comment = 1 %>
                      <%= review.comment %><br>
                      <%= review.created_at.strftime('%Y/%m/%d') %>
                      <% if review.user == current_user %>
                        <%= link_to item_review_path(review.item,review), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="">削除</button><br><% end %>
                      <% end %></p>
                    <% end %>
                  <% end %>
                  <% if user_comment == 0 %>
                    <%= form_for [datail.item, @review] do |f| %>
                      <%= f.text_area :comment, rows:'5', class: "",placeholder: "レビューを入力してください" %>
                      <%= f.submit "送信する", class: "" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="col-md-3" style="">
                  小計：<%= datail.quantity * datail.price %>円
                </div>
              </div>
            </div>
          </div>
          <% end %>
            <div class="container">
              <div class="row">
                <div class="col-md-6" style=""></div>
                <div class="col-md-6" style="">
                  <% a = purchase.delivery_address.split(",") %>
                  <!-- .split(",")でdelivery_address内の文字列を,で区切った配列を作りaに入れています -->
                  ご指定の配送先<br>〒<%= a[0] %><br>住所：<%= a[1] %><br>宛名：<%= a[2] %>様宛
                      <!-- a[n]で配列の中のn番目の情報を取り出して下さいと指定しています -->
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-9" style=""></div>
                <div class="col-md-3" style="">
                  <div class="border">
                    合計：<%= purchase.total_price %>円(税込)
                    配送状況：<%= purchase.status %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% n += 1%>
      <% end %>
  <% end %>
</div>