<!DOCTYPE html>
<html>
  <head>
    <title>NILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="box">
    <div class="message"> <%= flash[:notice] %> </div>

    <div class="users_show_upper clearfix" >

    <div class="users_show_left">
      <h4 class="users_names"> <strong> ユーザー名 </strong> </h4>
      <div> <%= @user.last_name %> <%= @user.first_name %> さん </div>
      <div> <%= link_to "編集", edit_user_path, class: 'btn btn-success' %> </div>
      <div> <%= link_to "退会", user_path, class: 'btn btn-danger', method: :'delete', "data-confirm" => "本当に退会しますか？" %> </div>
    </div>

    <div class="users_show_right">
    <h4 class="favorite_artists"> <strong> お気に入りアーティスト </strong> </h4>
    <% if @user.artist_id.nil? %>
      <p> お気に入りアーティストは未登録です </p>
    <% end %>
    <% unless @user.artist_id.nil? %>
      <div> <% if @user.artist_id == @user.artist.id %> <%= @uer.artist.artist_name %> <% end %> </div>
      <div> <%= attachment_image_tag @user.artist, :artist_image, :fill, 100, 100, format: "jpg" %> </div>


    <div> <strong> 最新のCD </strong> </div>
      <div> <% @item.each do |item| %> <%= attachment_image_tag item, :item_image, :fill, 100, 100, format: "jpg" %> <% end %> </div>
      <div> <%# if @user.item_id == item.id %> <%#= item.item_name %> <%# end %> </div>
      <div> <%# if @user.item_id == genre.id %> <%#= genre.genre_name %> <%# end %> </div>
      <div> <%# if @user.item_id == item.id %> <%#= item.price %> <%# end %> </div>



      <%# end %>
      <% end %>

    </div>

    <div class="users_show_right_right">
    <h4 class="favorite_ranking"> <strong> いいねランキング </strong> </h4>
    <table>
      <%# @artists.each do |artist| %>
      <tbody>
        <tr>
          <div> ジャケ写<%#= @artist.artist_image %> </div>
          <div> CD名<%#= @item.item_name %> </div>
          <div> カートに入れる </div>
        </tr>
        <tr>
          <div> ジャケ写<%#= @artist.artist_image %> </div>
          <div> CD名<%#= @item.item_name %> </div>
          <div> カートに入れる </div>
        </tr>
        <tr>
          <div> ジャケ写<%#= @artist.artist_image %> </div>
          <div> CD名<%#= @item.item_name %> </div>
          <div> カートに入れる </div>
        </tr>
      </tbody>
    </table>
    </div>
    </div>

<div class="users_show_bottom">
<h4 class="purchase_histories"> <strong> 購入履歴 </strong> </h4>
<%# @purchases.each do |purchase| %>
<section>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title accordion-toggle">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%#= purchase.purchased_date.strftime('%Y/%m/%d') %></a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <%# purchase.purchase_datails.each do |datail| %>
          <p></p>
          <span>商品名</span>：<span><%#= datail.item.item_name %></span>
          <span>商品写真</span>：<span><%#= attachment_image_tag datail.item, :item_image, :fill, 50, 50, format: 'jpeg' %></span>
          <span>購入時の単価</span>：<span><%#= datail.price %></span>
          <span>数量</span>：<span><%#= datail.quantity %></span>
          <span>小計</span>：<span><%#= datail.price * datail.quantity %></span>
          <%# end %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title accordion-toggle">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">　月　日購入</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <p>コメントコメントコメントコメントコメントコメントコメント </p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title accordion-toggle">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">　月　日購入</a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <p>コメントコメントコメントコメントコメントコメントコメント </p>
        </div>
      </div>
    </div>
  </div>
</section>
<%# end %>

</div>
</div>

  </body>

  </html>