<div  class="container">
	<div  class="row">
		<h1  class="artist_edit_headline"><%= link_to "#{@disk.item.item_name}(#{@disk.item.artist.artist_name})", edit_item_path(@disk.item) %><br>=><%= link_to "ディスク#{@disk.disk_number}の曲です", item_disk_songs_path(@disk.item, @disk) %></h1>
		<h4>曲情報変更</h4>
		<div  class="box2">
		<% if @song.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<ul>
				<% @song.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

			<%= form_for [@disk, @song], url: item_disk_song_path do |f| %>
			<h4>曲順</h4>
			<%= f.number_field :song_order, class:"data" %>
			<h4>曲名</h4>
			<%= f.text_field :song_name, class:"data" %>
			<%= f.submit '上記の内容で変更する', class:"btn btn-primary data" %>
			<% end %>
		</div>
	</div>
</div>