<%= @disk.item.item_name %> > <%= @disk.disk_number %> <br>


<% if @song.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@disk, @song], url: item_disk_songs_path do |f| %>

曲名登録<br>
曲順<br>
<%= f.number_field :song_order %><br>
曲名<br>
<%= f.text_field :song_name %><br>

<%= f.submit '上記の内容で登録する' %>

<% end %><br>

<% @songs.each do |song| %>
	曲ID=><%= song.id %>
	曲順=><%= song.song_order %>
	曲名=><%= song.song_name %>
	<%= link_to "編集", edit_item_disk_song_path(@disk.item, @disk, song) %>
	<%= link_to "削除", item_disk_song_path(@disk.item, @disk, song), method: :delete, "data-confirm" => "本当に削除しますか？" %><br>
<% end %>

<button clabtn btn-default btn-danger><%= link_to "商品一覧", items_admin_index_path %></button>
