<% if @address.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
住所変更
<%= form_for [current_user, @address] do |f| %>
郵便番号(半角ハイフン無し)<br>
<%= f.text_field :postal_code %><br>
住所<br>
<%= f.text_field :address %><br>
お届け先名<br>
<%= f.text_field :address_name %><br>
<%= f.submit "上記の内容で変更する" %>
<% end %>