






<% if @address.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
住所変更およびお届け先追加<br>
住所を追加する<br>
<%= form_for [current_user, @address], url: user_addresses_path do |f| %>
郵便番号(半角ハイフン無し)<br>
<%= f.text_field :postal_code %><br>
住所<br>
<%= f.text_field :address %><br>
お届け先名(ご登録されているお名前と異なる場合に入力して下さい)<br>
<%= f.text_field :address_name %><br>
<%= f.submit "上記の住所を追加する" %>
<% end %>
<% @addresses.each do |ad| %>
<%= ad.address_name %>
<%= ad.postal_code %>
<%= ad.address %>
<%= link_to "編集", edit_user_address_path(current_user, ad) %>
<%= link_to "削除", user_address_path(current_user, ad), method: :delete, "data-confirm" => "本当に削除しますか？" %><br>
<% end %>