<h1>管理者側の商品一覧</h1>
<body>
 <div class="container">
  <div class="row">
   <div class="col-lg-9" style="">
   <h2>商品検索</h2>
   <div style="width: 250px; padding: 15px; margin-bottom: 10px; border: 1px solid #333333;"></div>
    <table class="table table-hover table-inverse">
     <thead>
      <tr>
       <th>ID</th>
       <th>シングル/アルバム名</th>
       <th></th>
       <th></th>
       <th></th>
       <th colspan="3"></th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <th>1</th>
       <td>商品名</td>
       <td></td>
       <th colspan="3"></th>
       <td><button type="button" class="btn btn-default btn-sm">編集</button><button type="button" class="btn btn-default  btn-sm">削除</button></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>

  <div class="row">
   <div class="col-lg-9" style="">

    <% @items.each do |item| %>
      <tr>
        <td></td>
        <td><%= item.item_name %></td>
        <td><%= iten.item_contents %></td>
        <td><%= price %></td>
        <td><%= inventory %></td>
        <td><button class="btn btn-default btn-success">編集</button></td>
        <td><%= link_to item_path(item.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button clabtn btn-default btn-danger">削除</button><% end %></td>
      </tr>
      <% end %>


   </div>
  </div>

 </div>
</body>