<h1>商品一覧</h1>
 <!-- link_to "商品詳細", items_path(items.id), class: ""  -->
<body>
  <div class='container'>
    <div class='row'>
      <div class="col-lg-9">
        <div class="col-lg-3">
          <div class="item-box">
          <% @items.each do |item| %>
                <dl>
                  <dt><%= attachment_image_tag item, :item_image, :fill, 100, 100, format: 'jpeg' %></dt>  
                  <dd><% @artists.each do |artist| %><% if item.artist_id == artist.id %><%= artist.artist_name %><% end %><% end %></dd>  
                  <dd>商品名</dd>
                  <dd><% @genres.each do |genre| %><% if item.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %></dd>
                  <dd>価格：&yen;200,000</dd>
                  <dd>在庫</dd>
                </dl>
          <% end %>
        </div>
      </div>
    </div>
      <div class="col-lg-3">
        <h3><br>いいねランキング</h3>
        <table  class="table-hover table">
          <tbody>
            <tr>
              <td>１</td>
              <td><%= image_tag('no_image100x100.jpg') %></td>
              <td>アーティスト名</td>
              <td></span>111</td>
              <td>ジャンル</td>
              <td>レーベル</td>
              <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
              <td>レビュー</td>
            </tr>
            <tr>
              <td>２</td>
              <td><%= image_tag('no_image100x100.jpg') %></td>
              <td>アーティスト名</td>
              <td></td>
              <td>ジャンル</td>
              <td>レーベル</td>
              <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
              <td>レビュー</td>
            </tr>
            <tr>
              <td>３</td>
              <td><%= image_tag('no_image100x100.jpg') %></td>
              <td>アーティスト名</td>
              <td></span>88</td>
              <td>ジャンル</td>
              <td>レーベル</td>
              <td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
              <td>レビュー</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
