
  <div class="box">
    <div class="row">
      <strong><div class="search-results"><%= notice %></div></strong>
      <div  class="col-md-4 col-sm-4">
      <h3> 商品登録</h3>
      <div class="box2">
        <% if @item.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2  class="alert_h2"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
          <ul>
            <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <%= form_for(@item) do |f| %>

        <%= f.label :"アーティスト" %><br>
        <%= f.select :artist_id,Artist.all.collect { |p| [ p.artist_name, p.id ] }, {include_blank: true}, {class: 'data'} %><br>

        <%= f.label :"ジャンル" %><br>
        <%= f.select :genre_id,Genre.all.collect { |p| [ p.genre_name, p.id ] }, {include_blank: true}, {class: 'data'} %><br>

        <%= f.label :"レーベル" %><br>
        <%= f.select :label_id,Label.all.collect { |p| [ p.label_name, p.id ] }, {include_blank: true}, {class: 'data'} %><br>

        <%= f.label :"ジャケット写真" %><br>
        <%= f.attachment_field :item_image, placeholder:"ジャケット画像", class:"data" %><br>

        <%= f.label :"シングル/アルバム" %><br>
        <%= f.text_field :item_name, class:"data" %><br>

        <%= f.label :"商品説明" %><br>
        <%= f.text_area :item_contents, class:"data" %><br>

        <%= f.label :"価格（税抜き）" %><br>
        <%= f.text_field :price, class:"data" %><br>

        <%= f.label :"在庫" %><br>
        <%= f.text_field :inventory, class:"data" %><br>

        <p><%= f.submit '上記の内容で登録する', class:"btn btn-success active data" %></p>

        <% end %>
      </div>

      </div>
      <div class="col-md-8 col-sm-8">
        <h1> CD一覧</h1>
        <div  class="over_2">
          <table  class="table-hover table">
            <thead>
              <tr>
                <th>ジャケ画像</th>
                <th>アルバム/シングル<br>(<small>アーティスト</small>)</th>
                <th>商品説明</th>
                <th>価格</th>
                <th>在庫</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
              <tr>
                <td><%= link_to item_path(item) do %><%= attachment_image_tag item, :item_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
                <td><%= link_to item.item_name, item_path(item) %><br>(<small><%= link_to item.artist.artist_name, artist_path(item.artist) %></small>)</td>
                <td><%= item.item_contents %></td>
                <td><%= number_with_delimiter(item.price) %></td>
                <td><%= item.inventory %></td>
                <td><%= link_to edit_item_path(item.id) do %><button class="btn btn-default btn-success">編集</button><% end %></td>
                <td><%= link_to item_path(item.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="btn btn-default btn-danger">削除</button><% end %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>