<body>
 <div class="container">
  <div class="row">
   <div class="col-lg-5" style="">
    <h2>商品</h2>
    <div style="width: 400px; height: 400px; padding: 1px; margin: 0 auto; border: 1px solid #333333;"> 右で選択したジャケ写が表示される</div>
   </div>
   <div class="col-lg-7" style="">
    <h2>商品登録</h2>
    <p>アーティスト</p>
    <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
    <p>シングル/アルバム名</p>
    <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
    <p>ジャケット写真</p>
    <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼▼画像を選択する</div>
    <p>商品説明</p>
    <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
    <p>ジャンル名</p>
    <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
    <p>レーベル名</p>
    <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
    <p>税抜き価格</p>
    <div style="width: 400px; padding: 10px; margin-bottom: 10px; border: 1px solid #333333;"></div>
    <p>在庫</p>
    <div style="width: 400px; padding: 10px; margin-bottom: 10px; border: 1px solid #333333;"></div>
    <p></p>
    <p></p>
    <p></p>
    <button type="button" class="btn btn-success active">上記の内容で登録する</button>
   </div>

   <div  class="col-md-7 col-sm-7">
      <h3> 商品登録</h3>
      <div class="box2">
        <%= form_for(@item) do |f| %>
        <h4>シングル/アルバム</h4>
        <%= f.text_field :item_name %>

        <p>ジャケット写真</p>
         <div style="width: 614px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
        <h4>商品説明</h4>
        <%= f.text_area :item_contents %>
        <p>ジャンル</p>
         <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
        <p>レーベル</p>
         <div style="width: 400px; padding: 1px; margin-bottom: 10px; border: 1px solid #333333;">▼</div>
        <h4>税抜き価格</h4>
        <%= f.text_area :price %>
        <h4>在庫</h4>
        <%= f.text_area :inventory %>
        <br>
        <%= f.submit %>
        <% end %>
      </div>
    </div>

  </div>
 </div>
</body>
