<body>
	<div class='container'>
		<div class='row'>
			<h1></h1>
			<div class="col-md-8">
				<div class="col-md-4">
					<div class="item-image-show">
						<%= attachment_image_tag @item, :item_image, :fill, 200, 200, format: 'jpeg' %>
					</div>
				</div>
					<div class="col-md-4">
						<div class="item-box-show">
						<h3><%= @item.item_name %></h3>
						<p><% @artists.each do |artist| %><% if @item.artist_id == artist.id %><%= artist.artist_name %><% end %><% end %></p>
						<p><% @genres.each do |genre| %><% if @item.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %></p>
						<p><%= @item.price %></p>
						<p><%= @item.inventory %></p>
						<p>カートに入れる</p>
						<p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></p>
					</div>
				</div>
				<!-- <div class="col-md-1">
				<button type="button" class="btn btn-success active">s編集(商品編集へリンク)</button>
		    	</div> -->
				<div class="col-md-8">
					<div class="disk-box-show">
						<h4>収録曲</h4>
						<% @disks.each do |disk| %>
							<% if @item.id == disk.item_id %>
							<h5>ディスク<%= disk.disk_number %></h5>
							<ol>
								<% @songs.each do |song| %>
									<% if disk.id == song.disk_id %>
									<li><%= song.song_name %></li>
									<% end %>
								<% end %>
							</ol>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="col-md-8">
					<p><div style="width: 400px; height: 100px; padding: 1px; margin: 0 auto; border: 1px solid #333333;">レビュー購入者のみ入力可能</div></p>
				</div>
			</div>
			<div class="col-md-4">
			<h3><br>いいねランキング</h3>
				<table  class="table-hover table">
					<tbody>
						<tr>
							<td>１</td>
							<td><%= image_tag('no_image100x100.jpg') %></td>
							<td>アーティスト名</td>
							<td></span>111</td>
							<td>ジャンル</td>
							<td>レーベル</td>
							<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
							<td>レビュー</td>
						</tr>
						<tr>
							<td>２</td>
							<td><%= image_tag('no_image100x100.jpg') %></td>
							<td>アーティスト名</td>
							<td></td>
							<td>ジャンル</td>
							<td>レーベル</td>
							<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
							<td>レビュー</td>
						</tr>
						<tr>
							<td>３</td>
							<td><%= image_tag('no_image100x100.jpg') %></td>
							<td>アーティスト名</td>
							<td></span>88</td>
							<td>ジャンル</td>
							<td>レーベル</td>
							<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></td>
							<td>レビュー</td>
						</tr>
					</tbody>
				</table>
			</div>
	     </div>
	</div>
</body>