<body>
	<div class='container'>
		<div class='row'>
			<h1></h1>
			<div class="col-md-8">
				<div class="col-md-4">
					<div class="item-image-show">
						<%= attachment_image_tag @item, :item_image, :fill, 200, 200, format: 'jpeg' %><br>
						<p>Description<br><%= @item.item_contents %></p>
					</div>
				</div>
				<div class="item-box-show">
					<div class="col-md-4">
					<!-- <div class="item-box-show"> -->
					<h3><%= @item.item_name %></h3>
					<p><% @artists.each do |artist| %><% if @item.artist_id == artist.id %><%= artist.artist_name %><% end %><% end %><br>
					<% @genres.each do |genre| %><% if @item.genre_id == genre.id %><%= genre.genre_name %><% end %><% end %><br>
					<% @labels.each do |label| %><% if @item.label_id == label.id %><%= label.label_name %><% end %><% end %></p>
					<p>¥<%= @item.price %></p>
					<p>在庫<%= @item.inventory %></p>

                    <%= form_for (@cart_item), url: carts_add_item_path(@item.id) do |f| %>
                    <br>
                    <%= f.label :"数量を選ぶ" %>
                    <%= f.number_field :units %><br>
                    <%= f.submit 'カートに入れる' %><br>
                    <% end %>
					<p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></p>
				</div>
				<div class="disk-box-show">
					<div class="col-md-8">
					<!-- <div class="disk-box-show"> -->
						<h4>収録曲</h4>
						<% @disks.each do |disk| %>
							<% if @item.id == disk.item_id %>
							<h5>ディスク<%= disk.disk_number %></h5>
							<ol>
								<% @songs.each do |song| %>
									<% if disk.id == song.disk_id %>
									<li><%= song.song_name %></li>
									<% end %>
								<% end %>
							</ol>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="col-md-8">
				<% if @item.favorited_by?(current_user) %>
					<%= link_to item_likes_path(@item), method: :delete do %><%= @item.likes.count %> いいね<% end %>
					<% else %>
    				<%= link_to item_likes_path(@item), method: :post do %><%= @item.likes.count %> いいね<% end %>
    			<% end %>

       			<p>レビュー<%= @item.reviews.count %>件<br>
				<% @item.reviews.each do |review| %>						
    					<!-- 日付 -->
   						<%= review.created_at.strftime('%Y/%m/%d') %>
						<!-- 名前 -->
						<%= review.user.first_name %><br>
						<!-- コメント -->
    					<%= review.comment %>

    					<%= link_to item_review_path(@item,review), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="">削除</button><% end %><br>		
    			<% end %></p>

				<%= form_for [@item, @review] do |f| %>
				    <%= f.text_area :comment, rows:'5', class: "",placeholder: "レビューを入力（購入者のみ表示）" %>
				    <%= f.submit "送信する", class: "" %>
				<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
		<h3><br>いいねランキング</h3>
			<table  class="table-hover table">
				<thead>
					<tr></tr>
					<tr></tr>
					<tr></tr>
					<tr></tr>
				</thead>
				<tbody>
					<tr>
						<td>１</td>
						<td><%= image_tag('no_image100x100.jpg') %></td>
						<td>アーティスト名<br>ジャンル<br>レーベル<br></td>
						<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br>3件<br>レビュー<br>3件</td>
					</tr>
					<tr>
						<td>２</td>
						<td><%= image_tag('no_image100x100.jpg') %></td>
						<td>アーティスト名<br>ジャンル<br>レーベル<br></td>
						<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br>3件<br>レビュー<br>3件</td>
					</tr>
					</tr>
					<tr>
						<td>３</td>
						<td><%= image_tag('no_image100x100.jpg') %></td>
						<td>アーティスト名<br>ジャンル<br>レーベル<br></td>
						<td><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><br>3件<br>レビュー<br>3件</td>
					</tr>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>