
  <body>

  <header class="header">

    <div class="header_upper">

      <a href="http://localhost:3000" class="header_logo"> <img src="/assets/LOGO1.PNG" width="130" height="46"> </a>

      <nav class="nav">
        <ul>

          <% if user_signed_in? %>
            <li class="li">
              <%= link_to "アーティスト", artists_path %>
            </li>
            <li class="li">
              <%= link_to "CD", items_path %>
            </li>
            <li class="li">
              <%= link_to "マイページ", user_path(current_user.id) %>
            </li>
            <li class="li">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <li class="li">
              <%= link_to "カート", user_carts_path(current_user.id) %>
            </li>

          <% elsif admin_signed_in? %>
            <li class="li">
                <%= link_to "アーティスト", artists_path %>
            </li>
            <li class="li">
                <%= link_to "CD", items_path %>
            </li>
            <li class="li">
                <%#= link_to "購入履歴一覧", new_purchase_purchase_datails_path %>
                <%= link_to "購入履歴一覧" %>
            </li>
            <li class="li">
                <%= link_to "商品登録", new_item_path %>
            </li>
            <li class="li">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <li class="li">
              <%= link_to "アーティスト管理", artists_admin_index_path %>
            </li>
            <li class="li">
              <%= link_to "商品管理", items_admin_index_path %>
            </li>
            <li class="li">
              <!-- リンク先が違う・・・ -->
              <%= link_to "ユーザー一覧", users_path %>
            </li>

          <% else %>
            <li class="li">
              <%= link_to "アーティスト", artists_path %>
            </li>
            <li class="li">
              <%= link_to "CD", items_path %>
            </li>
            <li class="li">
              <%= link_to "Log in", new_user_session_path %>
            </li>
            <li class="li">
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </nav>

    </div>

    <div class="input-group">
      <%= form_tag(items_admin_index_path, method: "get") do %>
      <%= label_tag :item_name, "シングル/アルバム名" %><br><%= text_field_tag :item_name, params[:item_name] %>
      <%= label_tag :ジャンル, "ジャンル" %>
      <%= select_tag :genre_id, options_for_select(Item.genres), include_blank: true %>
      <%= label_tag :"レーベル" %>
      <%= select_tag :label_id, options_for_select(Item.labels), include_blank: true %>
      <%= button_tag( class: " btn-primary") do %>
      <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
      <% end %>
      <% end %>
    </div>

  </header>


  </body>