<!DOCTYPE html>
<html>

  <head>
    <title>NILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <header class="header">

    <div class="header_upper">

      <a href="http://localhost:3000" class="header_logo"> <img src="/assets/LOGO1.PNG" width="130" height="46"> </a>

      <% if admin_signed_in? %>
          <span><strong>管理者</strong>としてログインしています</span>
      <% end %>

      <nav class="nav">
        <ul class="ruled">

            <li class="li">
                <%= link_to "アーティスト", artists_path %>
            </li>
            <li class="li">
                <%= link_to "CD", items_path %>
            </li>
            <li class="li">
                <%= link_to "購入履歴一覧", purchases_path %>
            </li>
            <li class="li">
                <%= link_to "商品登録", new_item_path %>
            </li>
            <li class="li">
              <%= link_to "アーティスト管理", artists_admin_index_path %>
            </li>
            <li class="li">
              <%= link_to "商品管理", items_admin_index_path %>
            </li>
            <li class="li">
              <%= link_to "ユーザー一覧", users_path %>
            </li>
            <li class="li">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>

        </ul>
      </nav>

    </div>


    <div class="input-group">
      <%= form_tag(users_path, method: "get") do %>
      <%= label_tag :last_name, "姓" %><%= text_field_tag :last_name, params[:last_name] %>
      <%= label_tag :first_name, "名" %><%= text_field_tag :first_name, params[:first_name] %>
      <%= button_tag( class: " btn-primary") do %>
      <%= content_tag :span, "", class: "glyphicon glyphicon-search" %>
      <% end %>
      <% end %>
    </div>

  </header>
  <%= yield %>

      <footer class="footer">
        Copyright © Infratop Inc. All Rights Reserved.
      </footer>

  </body>

</html>